.formView .ivu-modal {
  width: 700px !important;
}
.formView /deep/ .roomName {
  width: 80px;
  display: block;
  float: left;
}
.formView .messageBox {
  height: 40px;
}
.formView /deep/ .roomNumBeforeBtn {
  display: block;
  float: left;
  width: 60px;
  line-height: 34px;
}
.formView /deep/ .iptWidth {
  width: 100px;
  margin-right: 3px;
}
.formView /deep/ .inputWidth {
  width: 100px;
  margin-right: 3px;
}
