.ivu-modal {
  width: 700px !important;
}
.inputWidth {
  width: 100px;
}
.color {
  color: red;
}
.roomName {
  width: 80px;
  display: block;
  float: left;
}
.messageBox {
  height: 40px;
}
.roomNumBeforeBtn {
  display: block;
  float: left;
  width: 60px;
  line-height: 34px;
}
.iptWidth {
  width: 100px;
  margin-right: 3px;
}
