// tab头部标签
    .demo-tabs-style1 > .ivu-tabs-card > .ivu-tabs-content {
        height: 120px;
        margin-top: -16px;
    }

    .demo-tabs-style1 > .ivu-tabs-card > .ivu-tabs-content > .ivu-tabs-tabpane {
        background: #fff;
        padding: 16px;
    }

    .demo-tabs-style1 > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab {
        border-color: transparent;
    }

    .demo-tabs-style1 > .ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active {
        border-color: #fff;
    }
    .demo-tabs-style2 > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab{
        border-radius: 0;
        background: #fff;
    }
    .demo-tabs-style2 > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active{
        border-top: 1px solid #3399ff;
    }
    .demo-tabs-style2 > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active:before{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #3399ff;
        position: absolute;
        top: 0;
        left: 0;
    }
    // 机构设施

    #org_facilities .ivu-checkbox-wrapper {
        display: flex;
        float: left;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin: 0px 15px;
        width: 7%;
    }

    .quillWrapper {
        background: #fff;
    }

    .right {
        text-align: right;
    }

    .sparator {
        display: inline-block;
        width: 70%;
    }

    .filter {
        box-sizing: border-box;
        border-bottom: 1px solid #e9eaec;
        padding: 14px 16px;
        line-height: 1;
    }

    .content {
        margin-top: 20px;
    }

    #RegionalManagement .ivu-card {
        height: 800px;
    }

    #RegionalManagement .ivu-card-head {
        height: 60px;
        line-height: 34px;
    }

    .split-set {
        display: flex;
        flex-flow: row;
        .dropdown-parent {
            width: 12%;
            margin-right: 50px;
        }
        .table-parent {
            width: 85%;
        }   
    }

    .set-div {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .dropdown-auto {
        overflow: auto;
        height: 426px;
        width: 100%;
        padding: 10px;
        background: #fff;
        list-style: none;
        li {
            text-align: center;
        }
        span {
            line-height: 40px;
            font-size: 15px;
        }
    }

    .sparator-span {
        margin-right: 20px;
    }

    .current-price {
        font-size: 16px;
        margin-bottom: 18px;
        display: block;
    }

    .Btn-set {
        margin-top: 40px;
        text-align: center;
    }

    #ivu-checkbox-view {
        .ivu-checkbox-wrapper {
            margin-top: 17px;
            margin-right: 11px;
        }
    }

    .sparator-div {
        margin: 20px;
    }

    .sparator-span-sm {
        margin-left: 5px;
        margin-right: 5px;
    }

    #addPricePlan .ivu-form-item-error-tip {
        position: absolute;
        top: 100%;
        left: 0px;
        line-height: 1;
        padding-top: 41px;
        color: #ed3f14;
    }

    .form1 {
        position: absolute;
        top: -1000px;
    }