h2 {
  margin: 12px 0;
}
.TD-view {
  width: 100%;
  margin-bottom: 15px;
  display: inline-block;
}
.TD-view dd,
.TD-view dt {
  display: inline-block;
}
.TD-view dd {
  font-size: 15px;
  color: #555;
  width: 200px;
  margin-left: 20px;
}
.TD-view dt {
  font-size: 13px;
  color: #999;
}
.textArea {
  width: 400px;
}
.TD-card {
  margin-top: 1%;
}
.roomName {
  width: 80px;
  display: inline-block;
  font-size: 14px;
  color: #57606f;
}
.roomNum {
  display: inline-block;
  width: 40px;
  text-align: center;
  font-size: 14px;
  color: #57606f;
}
.roomPrice {
  display: inline-block;
  width: 180px;
  margin-left: 10px;
}
.btnSize {
  width: 240px;
  height: 40px;
}
