.ivu-modal {
  width: 700px !important;
}
.inputWidth {
  width: 100px;
}
.color {
  color: red;
}
.roomName {
  width: 80px;
  display: block;
  float: left;
}
.messageBox {
  height: 40px;
}
.excel {
  position: absolute;
  left: 0;
  top: 0;
  width: 125px;
  height: 40px;
  text-decoration: none;
  font-size: 14px;
  color: #57606f;
}
.excel_btn {
  position: relative;
}
